[submodule "bitwarden-extension/browser"]
	path = bitwarden-extension/browser
	url = https://github.com/nikobockerman/bitwarden-browser
[submodule "ublock/uAssets"]
	path = ublock/uAssets
	url = https://github.com/uBlockOrigin/uAssets
[submodule "ublock/uBlock"]
	path = ublock/uBlock
	url = https://github.com/nikobockerman/uBlock
[submodule "nutensor/nuAssets"]
	path = nutensor/nuAssets
	url = https://github.com/geekprojects/nuAssets
[submodule "nutensor/nuTensor"]
	path = nutensor/nuTensor
	url = https://github.com/nikobockerman/nuTensor
